@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&family=Lateef:wght@400;700&display=swap');

@theme {
  --font-sans: "Fredoka", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Lateef", "Amiri", Georgia, serif;
}

/* Rounded playful scrollbar helper */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

